@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear Posicion</a>

<h1>Listado de Posiciones</h1>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th   th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var posicion in Model.posiciones)
        {
        <tr>
            <th scope="row">@posicion.Id</th>
            <td>@posicion.Nombre</td>
            <td>
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@posicion.Id">
                Detalle
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>