@page
@model Torneo.App.Frontend.Pages.Municipios.CreateModel
@{
}
<h1>Nuevo municipio</h1>
<p></p>
<form method="post">
    <div class="form-floating mb-3">
        <label asp-for="municipio.Nombre"></label>
        <input asp-for="municipio.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="municipio.Nombre"></span>
    </div>
<p></p>   
<button type="submit" class="btn btn-success btn-block">Crear municipio</button>
</form>
<p></p>
<a class="btn btn-success" asp-page="./Index">Volver</a>