@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<div class="container-fluid";">
<h1>Listado de Jugadores</h1>
</div>

<table class="table table-dark table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var jugador in Model.jugadores)
        {
        <tr>
            <th scope="row">@jugador.id</th>
            <td>@jugador.Nombre</td>
            <td>
                <a class="btn btn-outline-light" asp-page="./Details" asp-route-id="@jugador.id">
                Detalle
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
