@page
@model Torneo.App.Frontend.Pages.Equipos.CreateModel
@{
}
<h1>Nuevo equipo</h1>
<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="equipo.Nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label asp-for="equipo.Nombre">Nombre Equipo</label>
        <span class="text-danger" asp-validation-for="equipo.Nombre"></span>
    </div>
    <div class="form-floating mb-3">
        <label for="idMunicipio">Municipio</label>
        <select id="idMunicipio" name="idMunicipio" class="form-control">
        <option value=""></option>
            @foreach (var municipio in Model.municipio)
            {
                <option value="@municipio.Id">@municipio.Nombre</option>
            }
        </select>
    </div>
    <div class="form-floating mb-3">
        <label for="idDT">Director Tecnico</label>
        <select id="idDT" name="idDT" class="form-control">
        <option value=""></option>
            @foreach (var dt in Model.dt)
            {
                <option value="@dt.Id">@dt.Nombre</option>
            }
        </select>
    </div>
    <h1>
        <button type="submit" class="btn btn-success btn-block">Crear equipo</button>
    </h1>
</form>
<h1>
<a class="btn btn-success" asp-page="./Index">Volver</a>
</h1>