@page
@model Torneo.App.Frontend.Pages.Dts.IndexModel
@{
}
<h1>Lista de Directores Tecnicos</h1>


<table class="table table-dark table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var dt in Model.directoresTecnicos)
        {
        <tr>
            <th scope="row">@dt.Id</th>
            <td>@dt.Nombre</td>
            <td>
                <a class="btn btn-outline-light" asp-page="./Details" asp-route-id="@dt.Id">
                Detalle
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="container-xl">
    Hello word
</div>