@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Lista de Jugadores</h1>

<table class="table table-dark table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jugador in Model.jugadores)
        {
            <tr>
                <th scope="row">@jugador.Id</th>
                <td>@jugador.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@jugador.Id">
                        Detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>>